@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

html {
  font-family: Helvetica, 'Inter', 'Open Sans', Arial, sans-serif;
}

.highlight {
  background-color: rgba(198, 198, 198, 0.1);
  padding: 0 .25rem;
  margin: 0 .25rem;
}

/* Slide in Right */

.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}